.agency-detail-page-wrapper {
  width: 100%;
  height: auto;
  font-family: 'poppins';
}

.agency-detail-main-section {
  width: 100%;
  height: auto;
  padding: 40px 20px;
}

.agency-detail-inner-parent {
  width: 100%;
  height: auto;
}

.agency-detail-content-area {
  width: 100%;
  height: auto;
}

.agency-detail-heading-section {
  width: 100%;
  height: auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.agency-detail-logo-section {
  width: 20%;
  height: auto;
}

.agency-detail-logo-area {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.agency-detail-logo-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.agency-detail-heading-parent {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agency-detail-heading-parent h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.7;
}

.agency-detail-heading-parent p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
}

.agency-detail-heading-area {
  width: 100%;
  height: auto;
}

.agency-detail-content-section {
  width: 100%;
  height: auto;
  margin-top: 40px;
  padding: 0 15px;
}

.agency-detail-content-section p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

.para-content {
  padding: 20px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

.property-details-message-area {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 1px 1px 2px 1px lightgrey;
          box-shadow: 1px 1px 2px 1px lightgrey;
}

.message-top-header {
  width: 100%;
  height: auto;
  background-color: rgba(52, 191, 73, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
  padding: 6px 21px;
}

.message-top-header-heading-area {
  width: 70%;
  height: auto;
  font-family: 'poppins';
  padding: 18px 5px;
}

.message-top-header-heading-area h1 {
  font-weight: 500;
  font-size: 16.25px;
  line-height: 1.8;
  color: #34BF49;
}

.message-top-header-heading-area h2 {
  font-size: 13px;
  font-weight: 400;
  color: #34BF49;
  line-height: 1.5;
}

.message-top-header-img-area {
  width: 30%;
  height: auto;
}

.message-top-header-img-area img {
  width: 100%;
}

.message-logo-section-area {
  width: 100%;
  height: auto;
  padding: 6px 21px;
}

.message-logo-image-section-area {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -20px;
}

.message-logo-image-section-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.message-form-area {
  width: 100%;
  height: auto;
  padding: 6px 21px;
}

.message-form-area label {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.8;
  color: #495057;
  margin-top: 10px;
}

.message-form-area .name {
  width: 100%;
  height: 36px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  padding: 5px;
}

.message-form-area::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.8;
  color: #49505799;
}

.message-form-area:-ms-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.8;
  color: #49505799;
}

.message-form-area::-ms-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.8;
  color: #49505799;
}

.message-form-area::placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.8;
  color: #49505799;
}

.send-email {
  background: #34BF49;
  width: 100%;
  padding: 6px 0;
  margin: 16px 0;
  border-radius: 4px;
  color: white;
  border: none;
}

.agency-detail-listing-property-area {
  width: 100%;
  height: auto;
}

.featured-card-wrapper {
  width: auto;
  height: auto;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.featured-card-wrapper .img-area {
  width: 100%;
  height: 350px;
  position: relative;
}

.featured-card-wrapper .img-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured-card-wrapper .img-area .deg-360-card-img {
  width: 50px;
  height: auto;
  position: absolute;
  top: 50px;
  right: 50px;
}

.featured-card-wrapper .img-area .img-buttons-wrapper {
  width: 80%;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured-card-wrapper .img-area .img-buttons-wrapper button {
  height: 100%;
  font-size: 12px;
  width: 32.93333%;
  border: none;
  margin: 0;
  padding: 0;
}

.featured-card-wrapper .img-area .img-buttons-wrapper .vr-btn {
  background-color: #0099e5;
  color: #fff;
}

.featured-card-wrapper .content-area {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 10px;
  padding-left: 15px;
  padding-bottom: 5px;
}

.featured-card-wrapper .content-area h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 22px;
}

.featured-card-wrapper .content-area p {
  margin-top: 6px;
  font-size: 14px;
}

.featured-card-wrapper .content-area p i {
  font-size: 16px;
  color: #333;
}

.featured-card-wrapper .content-area .price-and-btn-area {
  width: 100%;
  height: auto;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured-card-wrapper .content-area .price-and-btn-area .price {
  font-size: 20px;
  font-weight: bold;
  color: #03440d;
}

.featured-card-wrapper .content-area .price-and-btn-area button {
  padding: 2px 13px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #34bf49;
  text-transform: capitalize;
  font-size: 12px;
  outline: none;
}

.owl-nav button {
  font-size: 18px !important;
  margin: 10px;
  font-weight: 200;
  color: #03440d !important;
}

.owl-nav .owl-prev {
  position: absolute;
  left: -5%;
  top: 50%;
}

.owl-nav .owl-next {
  position: absolute;
  right: -5%;
  top: 50%;
}

.property-detail-ad-section {
  width: 100%;
  margin: 0 auto;
}

.property-detail-ad-section img {
  width: 70%;
  padding: 50px 0;
  margin: 0 auto;
  display: block;
}
/*# sourceMappingURL=agency-detail.css.map */