.blog-detail-page-wrapper{
    width: 100%;
    height: auto;
    }
    
    .blog-detail-main-section{
    width: 100%;
    height: auto;
    padding: 40px 20px;
    }
    
    .blog-detail-inner-parent{
    width: 100%;
    height: auto;
    
    }
    
    
    
    .blog-detail-content-section{
        width: 100%;
        height: auto;
    }
    
    .blog-detail-content-left-section{
        width: 100%;
        height: auto;
        
    }

    .blog-detail-top-heading{
        font-size: 2.2rem;
    font-weight: bold;
    }

    .blog-detail-content-left-img-area{
        width: 90%;
        height: 430px;
       margin: 0 auto;
        margin-top: 50px;
    }

    .blog-detail-content-left-img-area img{
            width: 100%;
            height: 100%;

    }
    
    .blog-detail-left-content-area{
        width: 100%;
        height: auto;
        margin-top: 40px;
    }

    .blog-detail-left-content-area p{
    margin: 1.5em 0;
    color: #3a3a3a;
    line-height: 1.8;
    text-align: justify;
    }

    .blog-detail-left-content-area h3{
        color: #016c9e;
        font-size: 2.1rem;
        margin: 30px 0; 
    }

    .blog-detail-content-left-video-area{
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .property-detail-ad-section{
        width: 100%;
        margin: 0 auto;
      }
      .property-detail-ad-section img{
        width: 70%;
        padding: 50px 0;
        margin: 0 auto;
          display: block;
      
      }

      .agency-detail-listing-property-area{
          width: 100%;
          height: auto;
      }

 .owl-nav .owl-next {
        position: absolute;
        right: -5%;
        top: 50%;
    }

    .owl-nav .owl-prev {
        position: absolute;
        left: -5%;
        top: 50%;
    }


    .owl-nav button {
        font-size: 18px !important;
        margin: 10px;
        font-weight: 200;
        color: #03440d !important;
    }
    
    