.land47-home-footer-section{
    width: 100%;
    height: auto;
    padding: 40px 20px;
    border-top: 1px solid lightgray;
    .footer-main-parent{
        width: 100%;
        height: auto;
        .subscribe-letter-area{
            width: 100%;
            height: auto;
            padding: 20px 0;
            .subscribe-txt{
                text-align: center;
            }
            .section-heading-home::before{
                background-color: $color_theme;
                
            }
            .input-box{
                display: block;
                margin: 20px auto;
                border: 1px solid #34BF49;
                border-radius: 12px;
                width: 60%;
                padding: 10px;
                height: 45px;
                outline: none;
                box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25) inset;
                -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25) inset;
                -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.25) inset;

                box-shadow: 1px 4px 8px 0px rgba(0,0,0,0.25);
                -webkit-box-shadow: 1px 4px 8px 0px rgba(0,0,0,0.25);
                -moz-box-shadow: 1px 4px 8px 0px rgba(0,0,0,0.25);
            }
            .input-box:focus{
                box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);

            }
            button{
                width: 160px;
                height: 47px;
                display: block;
                margin: 0 auto;
                padding: 7px 18px;
                background-color: $color_theme-dark;
                color: $color_white;
                box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
                border-radius: 6px;
                border: none;
                font-size: 18px;
            }
        }
        .main-footer-wrapper{
            width: 100%;
            height: auto;
            padding: 20px 0;
            .footer-col-wrapper{
                width: 100%;
                height: 100%;
                padding: 1px;
                .img-area{
                    width: 100%;
                    height: 120px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .content-area{
                    width: 100%;
                    height: auto;
                    padding: 8px;
                    p{
                        font-size: 14px;
                        margin-top: 10px;
                    }
                    .footer-social-area{
                        width: 100%;
                        height: auto;
                        margin-top: 20px;
                        .social-row{
                            width: 100%;
                            height: auto;
                            display: flex;
                            margin-bottom: 10px;
                            .icon-col{
                                width: 10%;
                                height: auto;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                i{
                                    margin-top: 10px;
                                     margin-right: 7px;
                                }
                            }
                            .text-col{
                                width:  90%;
                                height: 100%;
                               
                                p{
                                    font-size: 12px;
                                }
                                .social-icon-parent-area{
                                    width: 100%;
                                    height: auto;
                                    padding: 5px;
                                    display: flex;
                                    .social-icon-div{
                                        width: 25px;
                                        height: 25px;
                                        background-color: #00A8E3;                                        ;
                                        margin-right: 10px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        color: #fff;
                                        border-radius: 4px;
                                        i{
                                            font-size: 12px;
                                        }
                                    }
                                }
                                
                            }
                        }
                      
                    }
                }
                .quick-links-wrapper{
                    width: 100%;
                    height: auto;
                    margin-top: 6.3vw;
                    ul{
                        list-style: none;
                        margin-top: 18px;
                        padding: 0;
                        li{
                            margin-bottom: 12px;
                            font-size: 14px;
                            a{
                                color: #333;
                            }
                            a:hover{
                                text-decoration: none;
                                color: #333;
                            }
                        }
                    }
                    .footer-map-area{
                        width: 100%;
                        height: 250px;
                        margin-top: 18px;
                        iframe{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
.footer-bottom-section{
    width: 100%;
    height: auto;
    padding:  20px;
    border-top: 1px solid lightgray;
    .copyright-content-wrapper{
        width: auto;
        height: auto;
        p{
            text-align: center;
            color: gray;
        }
    }
}